@import "tailwindcss";

@theme {
    --color-primary: #b794d4;
    --color-primary-light: #EBE2F3;
    --color-primary-dark: #6A3A92;

    /* Breakpoints */
    --breakpoint-xs: 350px;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}